// Variables
$gradient: linear-gradient(25.53deg, #0ba5ec 24.12%, #2e3192 95.96%);
$gray: #667085;
$blue: #1570ef;

* {
  font-family: "Inter";
}

body {
  padding-top: 110px;
}

input {
  color: #667085!important;
}

.flex-1 {
  flex: 1;
}

header {
  nav {
    margin: auto;
  }
  .header-container {
    display: flex;
    align-items: center;
    margin: auto;
    .container-fluid-1 {
      display: flex;
      width: 100%;
      margin-right: 28px;
      padding-left: 26px;
    }

    .claim-info {
      color: $gray;
      flex: 10;
      align-self: center;
      margin-top: 9px;
      .claim-title {
        font-weight: 600;
        margin-left: 12px;
      }
    }

    .allegiant-logo-wrapper {
      margin-right: 15px;
      margin-top: 24px;
      height: 67px;
      .main-logo {
        width: 150px;
        margin-right: 10px;
      }
    }

    .good-to-know-txt {
      font-size: 12px;
      display: inline-table;
    }
  }
}

.minimize-info {
  background: #d1e9ff;
  padding: 9px;
  display: flex;
  border-radius: 6px;
  font-weight: 500;
  color: $blue;
  cursor: pointer;
}

main {
  margin-top: 29px;
  max-width: 1440px;
  margin: auto;
  .form-wrapper {
    margin-left: 10%;
    margin-right: 3rem;
    margin-top: 59px;
    h3 {
      font-size: 30px;
    }
    label {
      font-size: 14px;
    }
    .input-wrapper {
      margin-top: 16px;
      span:first-child {
        font-size: 18px;
      }
      #pass1 {
        border-right: 0;
      }
      .input-group-addon {
        align-items: center;
        display: flex;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid #d0d5dd;
      }
    }

    .form-control {
      height: 48px;
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
  }
  .gradient-side {
    color: white;
    font-weight: 400;
    padding: 60px;
    background: $gradient;
  }

  .gradient-headline {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .bullets .question {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    margin-left: 16px;
  }

  .bullets span {
    margin-top: 30px;
  }

  .to-dashboard-btn {
    width: 100%;
    border: 0;
    height: 50px;
    background: #2e90fa;
    border-radius: 8px;
  }

  .review-number-txt {
    margin-right: 10px;
  }
}

.footer-txt {
  color: $gray;
  padding-right: 4rem;
  padding-left: 4rem;
}

.navbar-toggler {
  visibility: hidden !important;
}

.bottom-tray {
  display: none;
  transform: translateY(100%);
  transition: 0.3s all;
}

.bottom-tray.bottom-tray-show {
  transform: translateY(0);
}
.bottom-tray-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-tray-content {
  display: block;
  padding: 15px 0 0 0;
}

@media screen and (max-width: 770px) {
  body {
    padding-top: 50px;
  }

  div.allegiant-logo-wrapper {
    margin-top: 8px !important;
  }

  .claim-info {
    display: none;
  }

  .gradient-side {
    margin: 6%;
  }

  .navbar-toggler {
    visibility: hidden !important;
  }

  .bottom-tray {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1002;
    background: #2e90fa;
    position: fixed;
    padding: 15px;
    color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px -1px 10px -1px;
  }

  .rating-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .bottom-tray {
    display: block;
  }
}

// Util classes

.white-space-nowrap {
  white-space: nowrap;
}
