// Variables
$gradient: linear-gradient(25.53deg, #0ba5ec 24.12%, #2e3192 95.96%);
$gray: #667085;
$blue: #1570ef;

* {
  font-family: "Inter";
}

body {
  padding-top: 110px;
  max-width: 1440px;
  margin: auto;
}

header {
  nav {
    margin: auto;
  }
  .header-container {
    display: flex;
    align-items: center;

    .container-fluid {
      max-width: 1440px;
    }

    .claim-info {
      color: $gray;
    }

    .allegiant-logo-wrapper {
      margin-right: 15px;
      .main-logo {
        width: 150px;
        margin-right: 10px;
      }
    }

    .minimize-info {
      background: #d1e9ff;
      padding: 9px;
      display: flex;
      border-radius: 6px;
      font-weight: 500;
      color: $blue;
    }

    .good-to-know-txt {
      font-size: 12px;
      display: inline-table;
    }
  }
}

main {
  margin-top: 29px;
  .form-wrapper {
    margin-left: 10%;
    margin-right: 3rem;
    margin-top: 59px;
    h3 {
      font-size: 30px;
    }
    label {
      font-size: 14px;
    }
    .input-wrapper {
      margin-top: 16px;
      span:first-child {
        font-size: 18px;
      }
    }

    .form-control {
      height: 48px;
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
  }
  .gradient-side {
    color: white;
    font-weight: 400;
    padding: 60px;
    background: $gradient;
  }

  .gradient-headline {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .bullets .question {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    margin-left: 16px;
  }

  .bullets span {
    margin-top: 30px;
  }

  .to-dashboard-btn {
    width: 100%;
    border: 0;
    height: 50px;
    background: #2e90fa;
    border-radius: 8px;
  }

  .review-number-txt {
    margin-right: 10px;
  }
}

.footer-txt {
  color: $gray;
  padding-right: 4rem;
  padding-left: 4rem;
}

@media screen and (max-width: 770px) {
  body {
    padding-top: 50px;
  }

  .claim-info {
    display: none;
  }
}

// Util classes

.white-space-nowrap {
  white-space: nowrap;
}
