@use "../dashboard/dashboard.scss";

.logos {
  padding: 27px;
  border-radius: 16px;
  border: 1px solid #eaecf0;
  margin-bottom: 15px;
  box-shadow: 0px 12px 16px -4px rgb(16 24 40 / 8%),
    0px 4px 6px -2px rgb(16 24 40 / 3%);
}

.barclays {
  width: 110px;
}

// Mobile
@media screen and (max-width: 770px) {
  .barclays {
    width: 88px;
  }
}
